# Ignore node_modules in any directory
**/node_modules
node_modules

# ignore all dist directories
**/dist
packages/*/dist/

# Ignore .env files
.env

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock